<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    
    <div>
        <p>Title: <span data-th-text="${book_view.title}"></span> </p>        
        <p>Description: <span data-th-text="${book_view.description}"></span></p>
        <p>Excerpt: <span data-th-text="${book_view.excerpt}"></span></p>
        <p>Cached: <span data-th-text="${book_view.cached}"></span> </p>


    </div>

    <a href="/"> Back</a>
</body>
</html>